@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #000;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
    height: 100vh;
}
/* #############Utility classes############### */

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.btn{
    display: inline-block;
    border: none;
    border-radius: 20px;
    padding: 1em 2.5em;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 1em;
    font-weight: 500;
}
.btn-primary{
    background-color: #16a083;
    color: #fff;
}
.box-container{
    width: 75%;
    margin: auto;
    padding: 5.5%;
}
/* ############################### Navbar styling############################### */

/* for desktop */
nav{
    position: fixed;
    box-shadow: 0px 5px 10px 0px #aaa;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 999;
}
nav input[type="checkbox"], nav .hamburger-lines{
    display: none;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.navbar h1{
    order: -1;
    font-size: 3rem;
    text-transform: uppercase;
}
.menu-items{
    display: flex;
}
.menu-items li {
    list-style: none;
    font-size: 1.8rem;
    margin-left: 1.5rem;
 }
.menu-items li a{
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}
.menu-items li a:hover{
    color: #117964;
}

/* ############################ Showcase section ################################ */

#showcase{
height: 50vh;
background: linear-gradient(rgba(240, 240, 240, 0.144), rgba(255, 255, 255, 0.336)) ,url("./images/header-image2.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
opacity: 0.9;
}
.showcase-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 1.6rem;
}
.showcase-container *{
    margin: 10px 0;
}
.showcase-container h2{
    text-transform: uppercase;
}
/* ################################ about section ############################################# */
#about{
    padding: 50px 0;
    background:#f5f5f7;
}
.about-wrapper{
    display: flex;
    flex-wrap: wrap;
}

 .about-paragraph1{
    font-size: 1.6rem;
    font-weight: 600;
    color: #666;
}
.about-paragraph2{
    color: #555;
    font-weight: 400;
    font-size: 1.6rem;
}
.col1 h2{
    font-size: 3.2rem;
    margin: 10px 0;
}
 .col1, .col2{
    flex: 1 1 400px;
    padding: 30px;
}
.col1{
   margin: auto;
   animation: about-animation 1s ease-in-out forwards;
   transform: translateX(-150%);
}
.col2{
    animation: about-animation 1s ease-in-out forwards;
    transform: translateX(150%);
}
@keyframes about-animation{
    100%{
        transform: translate(0);
    }
}

.col2 img{
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}
/* ######################### food section ######################################## */
#food{
    padding: 5rem 0 10rem 0;
}
#food h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
    color: #555;
    font-size: 2rem;
    font-weight: 400;
}
.food-container{
    display: flex;
    justify-content: space-between;
}

.food-type img{
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
.img-container{
    margin: 0 1rem;
    position: relative;
}
.img-content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}
.img-content h3{
    color: #fff;
    font-size: 3rem;
}
.img-content a{
    font-size: 1.2rem;
}
.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100% ;
    transition: 0.3s ease-in-out;
}
.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}
.img-container:hover .img-content{
    opacity: 1;
    top: 40%;
}
/* ####################################### section food-menu ############################ */

.food-menu-heading{
    font-size: 4rem;
    font-weight: 400;
    color: #444;
    text-align: center;
    margin-bottom: 4rem;
}
.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0  30px 0;
}
.food-menu-container img{
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.food-menu-item{
    display: flex;
    flex: 1 1 600px;
    margin-bottom: 3rem;
}
.food-title{
    font-size: 2rem;
    color:#555;
    font-weight: 400;
    margin-bottom: 5px;
}
.food-description{
  margin: auto 1.5rem;
}
.food-description p{
    color: #555;
    font-size: 14px;
    font-weight: 500;
}
.food-description .food-price{
    color: #117964;
    font-weight: 700;
    margin-top: 4px;
}
/* ######################### section five testimonials ########################### */
#testimonials{
    background: rgba(222, 217, 217, 0.216);
    padding: 50px 0 30px 0;
    margin-top: 4rem;
}
.testimonial-title{
    font-size: 4rem;
    font-weight: 400;
    color: #444;
    text-align: center;
    margin-bottom: 4rem;
}
.testimonial-box{
    margin: 2rem;
}
.star-rating{
    font-size: 2rem;
    margin-bottom: 1.2rem;
}


.testimonial-container{
    display: flex;
    text-align: center;
}
.testimonial-box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.customer-detail{
    margin: 20px 0;
}
.testimonial-box .testimonial-text{
    font-size: 1.2rem;
    color: #444;
}
.customer-detail p{
    font-size: 14px;
    font-weight: 500;
    color: #3a3737;
}
/* #################################### contact us form ############################### */


#contact{
    padding: 5rem 0;
    background: rgb(226, 226, 226);
}
.contact-container{
    display: flex;
    background: #fff;
}
.contact-img{
    width: 50%;
}
.contact-img img{
    display: block;
    height: 400px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.form-container{
    padding: 1rem;
    width: 50%;
    margin: auto;
}
.form-container input, textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
    padding: 1rem 0;
}
.form-container h2{
    font-size: 3rem;
    font-weight: 400;
    color: #444;
    margin-bottom: 1rem;
}
/* ############################# section 6 ############################## */
footer{
    background: #201f1f;
    padding: 30px 20px;
}
footer h3{
    color:#b3a6a6 ;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}
/* ########################### media queries ######################### */
@media(max-width: 768px){
    .navbar{
        opacity: 0.95;
    }
    .navbar-container input[type="checkbox"], .navbar-container .hamburger-lines{
        display: block;
    }
    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-container input[type="checkbox"]{
        position: absolute;
        top: 20px;
        left: 20px;
        height: 32px;
        width: 40px;
        z-index: 5;
        opacity: 0;
    }
    .navbar-container .hamburger-lines{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 25px;
        width: 32px;
        position: absolute;
        top: 24px;
        left: 24px;
        z-index: 2;
    }
    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        background: #333;
        border-radius: 10px;
    }
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2{
      transition: transform 0.3s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 45px;
        transition: transform 0.3s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }
    .navbar .menu-items li{
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
    }
    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
    }
    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }
    /* #####################food category ######################### */
    .food-container{
        flex-direction: column;
        /* align-items: stretch; */
    }
    .food-type:not(:last-child){
        margin-bottom: 3rem;
    }
    .food-type{
        box-shadow:5px 5px 10px 0 #aaa ;
    }
    .img-container{
        margin: 0;
    }
}
 /* ############################# small screen ########################### */
 @media (max-width: 500px){
    html{
        font-size: 50%;
    }
    .testimonial-container, .food-menu-item{
        flex-direction: column;
        text-align: center;
    }
    .food-menu-container img{
        margin: auto;
    }
    .form-container{
        width: 90%;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .contact-img{
        width: 90%;
        margin: 3rem auto;
    }
 }
 /* ####################### landscape mode ########################### */
 @media (orientation: landscape) and (max-height: 500px){
    #showcase{
        height: 50vmax;
    }
 }